body.dark-mode {
  background-color: #0069d3;
  color: #45ec11;
}

body.dark-mode .container {
  background-color: #34495e;
  /* Ajoutez d'autres styles pour le dark mode si nécessaire */
}

body.dark-mode a {
  color: #3498db;
}
