body {
  font-family: Helvetica;
  background-color: #e5ff00;
  color: #5815a5;
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
    display: flex;


    background-color: rgb(0, 81, 255);
}

nav ul.menu {
  list-style: none;       
  display: flex;             
  padding: 0;             
  margin: 0;                
}

nav ul.menu li {
  margin: 0 15px;            
}

nav ul.menu li a {
  text-decoration: none;      
  color: #333;               
}
